html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	font-family: "Courier New", Courier, monospace;
}
.main-content {
	width: 100%;
}

/***HEADER***/
header {
	width: 100%;
	height: 200px;
	background-image: url(../img/site/banner.jpg);
	background-size: cover;
}

header nav {
	width: 100%;
	background-color: rgba(255, 255, 0, 0.5);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	/*flex-wrap: wrap;*/
}

li a {
	display: block;
	color: white;
	text-align: center;
	font-size: 2vmin;
	padding: 14px 16px;
	text-decoration: none;
	text-shadow: 10px -5px 5px orange;
}

li a:hover:not(.active) {
	background-color: #f2f25a;
}

.active {
	background-color: #ff9900;
	text-shadow: 0px 0px 10px yellow;
}

h1, h2 {
	color:white;
	text-align:center;
}


/***FOOTER***/
footer {
	margin-top: auto;
	color:white;
	text-align: right;
	background-image: url(../img/site/banner.jpg);
	background-size: cover;
}
footer a {
	color:white;
	text-decoration: none;
}


/***ELSE***/
.error {
	background-color: #ff9999;
	width : 70%;
	border: 1px solid red;
	color: red;
	padding: 5px;
	margin: 5px;
}
.success {
	background-color: #66ff66;
	width : 70%;
	border: 1px solid green;
	color: green;
	padding: 5px;
	margin: 5px;
}

i.far.fa-check-circle {
	color:green;
}

i.far.fa-times-circle {
	color:red;
}

i.far.fa-thumbs-up {
	color:#ff9900;
	font-size: 2em;
}
i.far.fa-thumbs-up:hover {
	cursor: pointer;
}
i.fas.fa-thumbs-up {
	color:#ff9900;
	font-size: 2em;
}
i.fas.fa-thumbs-up:hover {
	cursor: pointer;
}

/***MONTAGE***/
canvas {
	display: none;
	border: 5px solid black;
}
video {
	width: 100%;
	max-width: 800px;
	max-height: 600px;
	/*transform: scaleX(-1);*/
}

.cadre_img {
	width: 100px;
	height: 100px;

}
.cadre {
	padding: 20px;
}
.cadre:hover {
	box-shadow: 0px 5px 5px 2px orange, 0px 5px 5px 2px orange;
}
#cadre {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 600px;
}

#montage_content {
	width: 70%;
}
#montage_wrapper {
	display: flex;
	position: relative;
	min-height: 400px;
}

#cadre_wrapper {
	display: flex;
	width: 90%;
	overflow: auto;
	margin: 20px;
	box-shadow: 0px 0px 20px 3px orange;
}



/***SECTION***/
section {
	border: 2px solid orange;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px orange;
	overflow: auto;
	height: 50%;
	margin: 30px;
}

section h3 {
	padding: 10px;
}

section a {
	text-align: center;
	font-size: 3vmin;
	text-decoration: none;
	text-shadow: 10px -5px 5px orange;
}

#montage {
	display: flex;
}

.previous_img {
	height: 100px;
	width: 100px;
	margin: 2px;
}

#up_img {
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 600px;
}


/***MEMBER_SPACE***/
.user_img {
	width: 40%;
	height: 40%;
}

form {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:block;
	padding: 20px;
}

fieldset {
	border: 3px solid orange;
	border-radius: 6px;
	box-shadow: 10px 10px 5px orange;
}

legend {
	color: orange;
	font-size: 3vmax;
}

label {
	display: inline-block;
	color: orange;
	font-size: 3vmin;
	margin: 10px;
}

input[type=password], input[type=text], input[type=email], textarea {
	font-size: 2vmin;
	border: 2px inset orange;
	outline: none;
}

input[type=password]:focus, input[type=text]:focus, input[type=email]:focus, textarea:focus {
	box-shadow: 0px 0px 5px 2px orange, 0px 0px 5px 2px orange;
	border-radius: 3px;
}

input[type=submit], input[type=button], button {
	padding: 1% 8%;
	font-size: 2vmin;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #d08320;
	border: none;
	border-radius: 14px;
	box-shadow: 0 9px #e0e0ad;
	margin-top: 2%;
	margin-bottom: 2%;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
	background-color: orange;
	cursor: pointer;
	outline: none;
}

input[type=submit]:active, input[type=button]:active, button:active {
	background-color: #d081421;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

input[type=button] {
	width: 100%;
}
input:disabled, button:disabled {
	background-color:#dddddd;
}
input:disabled:hover, button:disabled:hover {
	background-color:#dddddd;
}

#form_wrapper {
}
.checkbox {
	margin-right:auto;
	margin-left:auto;
}


/***PAGINATION***/
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #ff9900;
	color: white;
	border: 1px solid black;
}

.pagination a.total {
	background-color: #ff9900;
	border: 2px solid black;
}

.pagination a:hover:not(.active) {
	background-color: rgba(255, 255, 0, 0.5);
}


/***GALLERY***/
.gallery_img {
	width: 100%;
	height: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery_img:hover {
	width: 102%;
	height: 82%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}
#gallery_wrap {
	display:flex;
	flex-direction: column;
}
.gallery_img_wrapper {
	display:flex;
	margin-bottom: 10%;
}
#auteur_name {
	color: #ff9900;
	font-size: 2em;
}
.like {
	color: #ff9900;
	font-size: 1.5em;
}
.like_button {
	background-color: white;
	cursor: pointer;
	margin: 0;
	padding:0;
	box-shadow: none;
	border: 0;
}
.like_button:active {
	background-color: white;
	box-shadow: none;
	transform: translateY(4px);
}
.like_button:hover {
	background-color: white;
}
.comment {
	width: 50%;
	max-height: 400px;
	overflow-y: auto;
	margin:10px;
}
.comment p {
	overflow-wrap: break-word;
	background-color: bisque;
}

.comment form {
	padding:0;
	margin:0;
	width:100%;
}
.comment_area {
	resize: none;
	width:80%;
}
textarea {
	width: 100%;
}
figure {
	margin-right: 20px;
}

/***HOME***/
.text_wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	box-shadow: 0px 0px 20px 5px orange, 0px 0px 20px 5px orange;
	border-radius: 5px;
}
.text_wrapper p {
	padding: 10px;
	text-align: center;
	font-size: 3vmin;
}
.text_wrapper img {
	z-index: -1;
	width: 10%;
	height: 10%;
	float: left;
}

.home_img_wrapper { 
	width: 60%;
	height: 50%;
	margin-top: 5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 20%;
}

.home_img_wrapper:last-child { 
	left:10%;
}

.home_montage {
	padding: 1%;
	margin-top: 10%;
	display:flex;
	justify-content: center;
}
.home_montage img {
	width:75%;
}
.main_img {
	max-width: 800px;
	max-height: 600px;
}
